.title {
    padding: 10px;
    margin-top: 1px;
    text-align: center;
    border-bottom: 3px solid #87c7ff;
    font-size: 23px;
}

input[type="text"], #input {
    line-height: 2; 
    padding: 4px 4px;  
    width: 47%; 
    border-radius: 12px;
    border: 4px solid #cdcdcd;
    margin-bottom: 10px;
    font-family: monospace;
}

input[type="text"]:focus, #input:focus {
    border: 4px solid #87c7ff;
}

#button, #submit{
    border-color: #87c7ff;
    background-color: #cdcdcd;
    border-width: medium;
    border: 1px solid transparent;
    border-radius: 12px;
    width: 47%;
    height: 41px;
    font-family: monospace;
}

#button:hover{
   background-color: #87c7ff 
}

#submit:hover {
    background-color: #ffffff
}
body {
    font-family: monospace;
    width: 400px;
    margin-right: -10;
}

.text {
    flex-grow: 1;
    font-size: 15px;
    padding-right: 50px;
    word-wrap: break-word;
    word-break: break-word;
    padding-left: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete, .edit {
    flex-shrink: 0;
    border-color: #ffffff;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 

.edit {
    /* image source: https://clipart-library.com/clipart/clip-pic-of-a-pencil-5.htm#google_vignette */
    background-image: url('images/icon-pencil.jpg');
    margin-left: auto;
    margin-right:5px;
}

.delete {
    /* image source: https://en.ac-illust.com/clip-art/229611/red-brown-garbage-can */
    background-image: url('images/icon-trash.jpeg');
}

/* line colouring inspired by chrome tabs manager: https://developer.chrome.com/docs/extensions/get-started/tutorial/popup-tabs-manager */
li:nth-child(odd) {
    background:#87c7ff;
    margin-left:-32px;
}
li:nth-child(even) {
    background: #ffffff;
    margin-left: -32px;
}

#error {
    margin-left: 10px;
    margin-top: -1px;
}

.no-marker {
    list-style-type: none;
}